{% load static %}

<!doctype html>
<html lang="en">

  <head>
    <title>My Kid </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700|Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'myapp/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/aos.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container mb-3" style='margin-top:-10px; '>
          <div class="d-flex align-items-center">
            <div class="site-logo mr-auto">
              <img src="{% static 'myapp/images/12.png' %}" alt="Image" class="img-fluid">
              <a href="{% url 'home' %}">My Kid<span class="text-primary">.</span></a>
            </div>
            <div class="site-quick-contact d-none d-lg-flex ml-auto ">
              <div class="d-flex site-info align-items-center mr-5">
                <span class="block-icon mr-3"><span class="icon-map-marker text-yellow"></span></span>
                <span>Yunsobod tumani, beruniy ko'chasi 18 Toshkent shahar, <br> Uzbekistan </span>
              </div>
              <div class="d-flex site-info align-items-center">
                <span class="block-icon mr-3"><span class="icon-clock-o"></span></span>
                <span>Dushanba - Juma 8:00 - 20:00 <br></span>
              </div>

            </div>
          </div>
        </div>


        <div class="container" style='margin-top:-17px;'>
          <div class="menu-wrap d-flex align-items-center">
            <span class="d-inline-block d-lg-none"><a href="#" class="text-black site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-black"></span></a></span>



              <nav class="site-navigation text-left mr-auto d-none d-lg-block" role="navigation" >
                <ul class="site-menu main-menu js-clone-nav mr-auto " style='font:bold;'>


                  <li class="active"><a href="{% url 'home' %}" class="nav-link">Bosh sahifa</a></li>
                  <li class="active"><a href="{% url 'about' %}" class="nav-link">Biz haqimizda</a></li>
                  <li class="active"><a href="{% url 'packages' %}" class="nav-link">Kurslar</a></li>
                  <li class="active"><a href="{% url 'pricing' %}" class="nav-link">Narxlar</a></li>
                  <li class="active"><a href="{% url 'contact' %}" class="nav-link">Aloqa</a></li>
                  <!--<button type="button" class="btn btn-primary" style='margin-right:-10px;'>Русский</button>-->
                  <div lang="ru">

                  </div>

                </ul>

              </nav>

              <div class="top-social ml-auto">
                <a href="https://www.instagram.com/mening.bolam/"><span class="icon-instagram text-yellow"></span></a>
                <a href="https://t.me/meningbolam"><span class="icon-telegram text-success"></span></a>
                <!--<a href="#"><span class="icon-facebook text-teal"></span></a>-->


              </div>
          </div>
        </div>



      </header>





{% block content %}





{% endblock %}



<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2 class="footer-heading mb-3">Biz bilan bog'laning</h2>
            <p class="mb-5">Tel: +93 515 75 39</p>
            <p>E-mail: iflyconsult@mail.ru</p>
<!--
            <h2 class="footer-heading mb-4">Axborot byulleteni</h2>
            <form action="#" class="d-flex" class="subscribe">
              <input type="text" class="form-control mr-3" placeholder="Email">
              <input type="submit" value="Yubormoq" class="btn btn-primary">
            </form>

-->
      <img src="{% static 'myapp/images/12.png' %}" alt="Image" class="img-fluid">


      </div>
      <div class="col-lg-8 ml-auto">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <h2 class="footer-heading mb-4">Navigatsiya</h2>
            <ul class="list-unstyled">
              <li><a href="{% url 'about' %}">Biz haqimizda</a></li>
              <li><a href="{% url 'pricing' %}">Narxlar</a></li>


              <li><a href="{% url 'contact' %}">Biz bilan bog'lanish</a></li>
            </ul>
          </div>




        </div>
      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <div class="border-top pt-5">
          <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
        </div>
      </div>

    </div>
  </div>
</footer>

</div>

<script src="{% static 'myapp/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'myapp/js/jquery-migrate-3.0.0.js' %}"></script>
<script src="{% static 'myapp/js/popper.min.js' %}"></script>
<script src="{% static 'myapp/js/bootstrap.min.js' %}"></script>
<script src="{% static 'myapp/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'myapp/js/jquery.sticky.js' %}"></script>
<script src="{% static 'myapp/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'myapp/js/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'myapp/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'myapp/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'myapp/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'myapp/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'myapp/js/aos.js' %}"></script>

<script src="{% static 'myapp/js/main.js' %}"></script>

</body>

</html>
