{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="ftco-blocks-cover-1">
      <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url({% static 'myapp/images/kid5.jpg' %})">
        <div class="container">
          <div class="row align-items-center ">

            <div class="col-md-5 mt-5 pt-5">
              <span class="text-cursive h5 text-red">Tariflar</span>
              <h1 class="mb-3 font-weight-bold text-teal">Narxlar</h1>
              <p><a href="index.html" class="text-white"></a> <span class="mx-3"></span> <strong></strong></p>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="text-cursive h5 text-red d-block">Tariflar</span>
            <h2 class="text-black">Narxlar</h2>
            <p>To'lovdan keyin siz qo'shimcha imtiyozlarga ega bo'lasiz, masalan, dam olish kunlarida ikki haftada bir marta bepul darslar .Siz bitimning qonuniyligiga ishonch hosil qilishingiz mumkin.</p>
          </div>
          <div class="col-md-4">
            <div class="pricing teal">

              <h3>Guruh kurslari</h3>
              <ul class="ul-check list-unstyled teal">
                <li><h1>100 000 UZS</h1></li>
                <li>bitta darsning davomiyligi: 1 soat </li>
                <li>Bitta guruhdagi bolalar soni: 10</li>
                <li>Haftada 3 ta dars, bir oyda 12 ta dars</li>
              </ul>
              <p><a href="{% url 'contact' %}" class="btn btn-teal btn-custom-1 mt-4">Xarid qilmoq</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="pricing danger">

              <h3>Individual kurslar</h3>
              <ul class="ul-check list-unstyled danger">
                <li><h1>300 000 UZS</h1></li>
                <li>bitta darsning davomiyligi: 1 soat</li>
                <li>individual yondashuv va tezroq rivojlanish</li>
                <li>Haftada 3 ta dars, bir oyda 12 ta dars</li>
              </ul>
              <p><a href="{% url 'contact' %}" class="btn btn-danger btn-custom-1 mt-4">Xarid qilmoq</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="site-section bg-light">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <span class="text-cursive h5 text-red d-block">Testimonial</span>
            <h2 class="text-black">What Our Client Says About Us</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="testimonial-3-wrap">


              <div class="owl-carousel nonloop-block-13">
                <div class="testimonial-3 d-flex">
                  <div class="vcard-wrap mr-5">
                    <img src="{% static 'myapp/images/person_1.jpg' %}" alt="Image" class="vcard img-fluid">
                  </div>
                  <div class="text">
                    <h3>Jeff Woodland</h3>
                    <p class="position">Partner</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam earum libero rem maxime magnam. Similique esse ab earum, autem consectetur.</p>
                  </div>
                </div>

                <div class="testimonial-3 d-flex">
                  <div class="vcard-wrap mr-5">
                    <img src="{% static 'myapp/images/person_3.jpg' %}" alt="Image" class="vcard img-fluid">
                  </div>
                  <div class="text">
                    <h3>Jeff Woodland</h3>
                    <p class="position">Partner</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam earum libero rem maxime magnam. Similique esse ab earum, autem consectetur.</p>
                  </div>
                </div>

                <div class="testimonial-3 d-flex">
                  <div class="vcard-wrap mr-5">
                    <img src="{% static 'myapp/images/person_2.jpg' %}" alt="Image" class="vcard img-fluid">
                  </div>
                  <div class="text">
                    <h3>Jeff Woodland</h3>
                    <p class="position">Partner</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam earum libero rem maxime magnam. Similique esse ab earum, autem consectetur.</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row mt-5 justify-content-center">

          <div class="col-md-8">


            <div class="row">
              <div class="col-lg-3 text-center">
                <span class="text-teal h2 d-block">3423</span>
                <span>Happy Client</span>
              </div>
              <div class="col-lg-3 text-center">
                <span class="text-yellow h2 d-block">4398</span>
                <span>Members</span>
              </div>
              <div class="col-lg-3 text-center">
                <span class="text-success h2 d-block">50+</span>
                <span>Staffs</span>
              </div>
              <div class="col-lg-3 text-center">
                <span class="text-danger h2 d-block">2000+</span>
                <span>Our Followers</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>-->



  {% endblock %}
